{{ partial "header.html" . }}

<div class="wrap">
  {{ partial "navbar.html" . }}
  <main class="hiruko-container">
    <div class="post">
      <article class="post-block">
        <h1 class="post-title">{{ .Title }}</h1>
        <div class="post-info">{{ .Date.Format "Jan 2, 2006" }}</div>
        <div class="post-entry">{{ .Content }}</div>
      </article>
    </div>

    <div class="disqus-comments">
      <div class="comments">
        <div id="disqus_thread"></div>
      </div>
    </div>
  </main>
</div>

{{ partial "footer.html" . }}