<div class="archive col-md-8 col-xs-12">
  <div class="post">
    <article class="post-block">
        <h1 class="post-title">{{ .Title }}</h1>
        <div class="post-info">{{ .Date.Format "Jan 2 2006" }}</div>
        <div class="post-entry">{{ .Content }}</div>
    </article>
  </div>
</div>
<aside class="sidebar col-md-4 col-xs-12">
  <div class="aboutme widget">
    <div class="about-me-image"></div>
    <p class="about-me-text">Sometimes NAIVE.</p>
  </div>
  <div class="follow-me widget">
    <h3 class="aside-title">FOLLOW ME</h3>
    <div class="follow-icons">
      <a href="https://github.com/GenkunAbe" target="_blank" class="github-link"></a>
      <a href="https://twitter.com/GenkunAbe" target="_blank" class="twitter-link"></a>
      <a href="https://weibo.com/genkunabe" target="_blank" class="weibo-link"></a>
    </div>
  </div>
</aside>