<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-light.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

{{ if eq .Params.vertical true }}
<script>
    $(document).ready(function () {
      $('html, body, *').mousewheel(function(e, delta) {
          this.scrollLeft += (delta * 100);
          e.preventDefault();
      });
    });
</script>
{{ end }}

<script>
    (function (u, c) {
        var d = document, t = 'script', o = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        o.src = u;
        if (c) { o.addEventListener('load', function (e) { c(e); }); }
        s.parentNode.insertBefore(o, s);
    })('//cdn.bootcss.com/pangu/3.3.0/pangu.min.js', function () {
        pangu.spacingPage();
    });
</script>

{{ if ne .Params.mathjax false }}
<script>
    (function () {
        var i, text, code, codes = document.getElementsByTagName('code');
        for (i = 0; i < codes.length;) {
            code = codes[i];
            if (code.parentNode.tagName !== 'PRE' && code.childElementCount === 0) {
                text = code.textContent;
                if (/^\$[^$]/.test(text) && /[^$]\$$/.test(text)) {
                    text = text.replace(/^\$/, '\\(').replace(/\$$/, '\\)');
                    code.textContent = text;
                }
                if (/^\\\((.|\s)+\\\)$/.test(text) || /^\\\[(.|\s)+\\\]$/.test(text) ||
                    /^\$(.|\s)+\$$/.test(text) ||
                    /^\\begin\{([^}]+)\}(.|\s)+\\end\{[^}]+\}$/.test(text)) {
                    code.outerHTML = code.innerHTML;  // remove <code></code>
                    continue;
                }
            }
            i++;
        }
    })();
</script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        extensions: ['tex2jax.js'],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        processEscapes: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
        },
        TeX: {
        extensions: ['AMSmath.js', 'AMSsymbols.js', 'noErrors.js', 'noUndefined.js', 'extpfeil.js']
        },
        "HTML-CSS": { 
        availableFonts: ["TeX"],
        scale: 85
        },
        CommonHTML: {
        scale: 85
        },
        SVG: {
        scale: 85
        }
    });
</script>
<script async type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{{ end }}

{{ if eq .Params.comments true }}
<script>
    var url_parts = window.location.href.split("?");
    var disqus_url = url_parts[0];
    (function () {
        console.log("enter disqus");
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = "//{{ .Site.Params.disqus }}.disqus.com/embed.js";
        (document.head || d.body).appendChild(dsq);
    })();
</script>
{{ end }}

</body>
</html>