<script src="/js/script.js"></script>
{{- if eq .Params.image true }}
<script src="/js/fancybox.js"></script>
{{- end }}

{{- if eq .Params.vertical true }}
<script src="{{ .Site.Params.JQueryCDN }}/jquery-mousewheel/{{ .Site.Params.JQueryMouseWheelVersion }}/jquery.mousewheel.min.js"></script>
<script>
      $('html, body, *').mousewheel(function(e, delta) {
          this.scrollLeft += (delta * 100);
          e.preventDefault();
      });
</script>
{{- end }}

{{- if ne .Params.mathjax false }}
<script src="/js/mathjax.js"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        extensions: ['tex2jax.js'],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true,
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
        },
        TeX: {
            extensions: ['AMSmath.js', 'AMSsymbols.js', 'noErrors.js', 'noUndefined.js', 'extpfeil.js']
        },
        "HTML-CSS": {
            availableFonts: ["TeX"],
            scale: 85
        },
        CommonHTML: {
            scale: 85
        },
        SVG: {
            scale: 85
        }
    });
</script>
<script async type="text/javascript" src="{{ .Site.Params.MathJaxCDN }}/mathjax/{{ .Site.Params.MathJaxVersion }}/latest.js?config=TeX-AMS-MML_HTMLorMML"></script>
{{- end }}

{{- if eq .Params.comments true }}
<script>
    var url_parts = window.location.href.split("?");
    var disqus_url = url_parts[0];
    (function () {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = "//{{ .Site.Params.disqus }}.disqus.com/embed.js";
        (document.head || d.body).appendChild(dsq);
    })();
</script>
{{- end }}

{{- if isset .Params "codes" }}
<link rel="stylesheet" href="{{ .Site.Params.HighLightCDN }}/highlight.js/{{ .Site.Params.HighLightVersion }}/styles/atom-one-light.min.css"/>
<script src="{{ .Site.Params.HighLightCDN }}/highlight.js/{{ .Site.Params.HighLightVersion }}/highlight.min.js"></script>
{{- range .Params.codes }}
<script src="{{ $.Site.Params.HighLightCDN }}/highlight.js/{{ $.Site.Params.HighLightVersion }}/languages/{{ . }}.min.js"></script>
{{- end }}
<script>hljs.initHighlightingOnLoad();</script>
{{- end }}

{{- if eq .Params.toc true }}
<script>
    if (typeof show_toc == 'undefined') {
        var show_toc = true;
    }
    if (show_toc) {
        $("#toc").tocify({
            selectors: "h2,h3,h4,h5", // 选择要筛选的标题
            extendPage: false, // 页面不够长时拉长页面，这里选择关闭因为感觉留出大片空白不好看 - -
            highlightDefault: true, // 自动高亮第一条
            highlightOnScroll: true,
            scrollTo: 80,
        });
    }
</script>
{{- end }}
</body>
</html>