<nav class="page-navigation">
    <div class="nav-container">
        <div class="page-header-logo">
        <h1 class="prince-log">
            <a href="/" class="home-link">GENKUN</a>
        </h1>
        </div>
        <button type="button" data-toggle="collapse" data-target=".main-nav-items" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <ul class="collapse navbar-collapse main-nav-items">
        <li class="menu-item">
            <a href="/" target="_self">HOME</a>
        </li>
        <li class="menu-item">
            <a href="/post" target="_self">ARCHIVE</a>
        </li>
        <li class="menu-item">
            <a href="/gallery" target="_self">GALLERY</a>
        </li>
        <li class="menu-item">
            <a href="/cn/about" target="_self">ABOUT</a>
        </li>
        </ul>
    </div>
</nav>
