<nav class="page-navigation">
    <div class="nav-container">
        <div class="page-header-logo">
            <h1 class="prince-log">
                <a href="/" class="home-link">{{ $.Site.Title }}</a>
            </h1>
        </div>
        <button type="button" data-toggle="collapse" data-target=".main-nav-items" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <ul class="collapse navbar-collapse main-nav-items">
            {{- range $item := $.Site.Params.NavItems }}
            <li class="menu-item">
                <a href="{{ index $item 1 }}" target="{{ index $item 2 }}">{{ index $item 0 }}</a>
            </li>
            {{- end }}
        </ul>
    </div>
</nav>